@import "_variables.css";

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background: var(--dark-10);
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0.5rem;
}

::-webkit-scrollbar-track {
    background: var(--dark-30);
}

::-webkit-scrollbar-thumb {
    background: var(--brand-color);
    border-radius: 0.6rem;
}
